.desktop {
  position: fixed;
  top: 20%;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  z-index: -1;
  grid-template-columns: repeat(4, 25%);
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100vw;
  height: 100vh;
  background-color: #9F8383;
  opacity: 40%;
  background: linear-gradient(90deg, rgba(255, 155, 81, 1) 0%, rgba(229, 186, 65, 1) 50%, rgba(209, 133, 92, 1) 100%);
}
