.status {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.network {
  display: flex;
  margin-left: 5px;
}

.battery {
  margin-left: 5px;
}
