.navbar {
  width: 100%;
  height: 100%;
  background-color: rgb(164, 204, 217);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
}

.menu-circle {
  --primary-color: #4E71FF;
  border-radius: 50%;
  padding: 5px;
  background-color: var(--primary-color);
  opacity: 0.8;
  width: 2.5em;
  height: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-circle:hover {
  opacity: 0.5;
}


.orange {
  width: 100%;
  height: 100%;
  background-color: orange;
  background: linear-gradient(120deg, orange, rgb(255, 255, 255, 0.5));
  border-radius: 25% 0% 0% 0%;
}

.green {
  width: 100%;
  height: 100%;
  background-color: green;
  background: linear-gradient(240deg, green, rgb(255, 255, 255, 0.5));
  border-radius: 0% 25% 0% 0%;
}

.blue {
  width: 100%;
  height: 100%;
  background-color: blue;
  background: linear-gradient(60deg, blue, rgb(255, 255, 255, 0.5));
  border-radius: 0% 0% 0% 25%;
}

.yellow {
  width: 100%;
  height: 100%;
  background-color: yellow;
  background: linear-gradient(0deg, yellow, rgb(255, 255, 255, 0.5));
  border-radius: 0% 0% 25% 0%;
}

.square-container {
  display: grid;
  grid-template-columns: auto auto;
  width: 75%;
  height: 75%;
}

.status {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.sound {
  transform: scale(1.5);
  margin-right: 20px;
}

.up {
  margin-right: 20px;
}

.wifi {
  transform: scale(1.5);
  margin-right: 20px;
}

.fecha {
  width: 6em;
}

.menu-programs {
  display: flex;
  flex-direction: row;
}
