.folder-manager {
  position: fixed;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  background-color: white;
  z-index: 3;
  display: flex;
  flex-direction: column;
}

.folder-control {
  width: 100%;
  height: auto;
  border-color: grey;
  background-color: gray;
  opacity: 50%;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
}

.folder-url {
  display: flex;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.url {
  color: grey;
}

.folder-body {
  display: grid;
  height: 100%;
  width: 100%;
  border-width: 3px;
  border: 1px black;
  flex: 1;
}

img {
  background-color: transparent;
  aspect-ratio: 1/1;
  height: 100%;
}

.folder-container {
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.folder-container:hover {
  opacity: 50%;
}

.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.searcher>input {
  all: unset;
  border-top: 1px solid rgb(0, 0, 0, 0.25);
  border-right: 2px solid rgb(0, 0, 0, 0.25);
  border-left: 2px solid rgb(0, 0, 0, 0.25);
  border-bottom: 1px solid rgb(0, 0, 0, 0.25);
  padding: 1px;
  margin-right: 0.5em;
}

.buttons-control {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  padding: 10px;
}

.btn {
  transform: scale(1.5);
  margin-left: 20px;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.btn:hover {
  height: 100%;
  background-color: rgb(127, 140, 170);
  opacity: 50%;
}

.hide {
  display: none
}
